.contacts {
  padding: 71px 0;
  background-color: $purple3;
  @media (max-width: 600px) {
    padding: 0;
  }
}
.contacts-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.contacts-card {
  margin: 0 15px;
  width: 30%;
  @media (max-width: 1200px) {
    margin: 0 10px;
  }
  @media (max-width: 1024px) {
    margin-bottom: 15px;
  }
  @media (max-width: 600px) {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
  }
  @media (max-width: 320px) {
    width: 90%;
  }
  h4 {
    font-weight: bold;
    color: $white;
  }
}
.contacts-card-text {
  font-size: $_18px;
  line-height: $_21px;
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
  color: $white;
  padding-top: 29px;
  @media (max-width: 600px) {
    padding-top: 15px;
    font-size: $_24px;
    line-height: $_28px;
  }
}
.contacts-card-logo {
  padding-top: 29px;
  @media (max-width: 600px) {
    padding-top: 15px;
  }
  .logo-list {
    display: flex;
    justify-content: center;
    .logo-list-item {
      margin-right: 27px;
      @include brands;
      &:hover {
        transform: scale(1.4);
      }
      &:last-child {
        margin-right: 0px;
      }
      .fa-brands {
        color: $grey3;
        font-size: 20px;
      }
    }
  }
}
