.download {
  padding: 114px 0;
  @media (max-width: 1024px) {
    padding: 78px 0;
  }
  @media (max-width: 600px) {
    padding: 34px 0 45px;
  }
  h4 {
    font-weight: bold;
    margin: 25px auto 48px;
    width: 80%;
    text-transform: uppercase;
  }
  .btn {
    @include btn;
  }
}
.download-title {
  font-size: $_36px;
  line-height: $_42px;
  text-align: center;
  font-weight: 500;
  color: $black2;
  width: 80%;
  margin: auto;
}
