.footer {
  background-color: $bg_footer;
  padding: 24px 0;
}
.footer-copyright {
  width: 370px;
  margin: auto;
  font-size: $_18px;
  line-height: $_21px;
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
  color: $text_grey;
  @media (max-width: 480px) {
    width: 95%;
  }
  .copyright-text {
    margin: auto;
    display: block;
    &::after {
      content: 'by Kamal Chaneman';
      color: $text_white;
    }
  }
}
