$black1: #2d3033;
$black2: #000000;
$white: #ffffff;
$grey1: #babbc5;
$grey2: #6c7279;
$grey3: #c6cbcd;
$grey4: #808080;
$grey5: #babbc500;
$grey6: #656980;
$red1: #ff4343;
$red2: #e71414;
$red3: #ff4343cc;
$red4: #b90c0ccc;
$purple: #252b49;
$purple2: #2c3154;
$purple3: #353c65;
$brown: #5c3249;
